{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h2> Welcome to your profile, {{user.username}} !</h2>
    <img class="rounded-circle" src="{{ user.profile.image.url }}">
    <h4> {{user.email}}</h4>
    <br>
    <h5> Profile Info</h5>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ u_form|crispy }}
        {{ p_form|crispy }}
        <button type="submit">
            update
        </button>
    </form>
    <br>

{% endblock %}